<li class="<%= 'private' unless band_name.public? %>">
  <%= band_name.try(:user).try(:name) || "Anonymous" %> called <%= link_to band_name.name, band_name %> on <%= band_name.created_at.to_date.to_s(:long) %>
</li>
