<div>
    <% if current_user %>
        <%= form_for(@band_name) do |f| %>
            <%= f.text_field :name, class: "band_name" %>.
            new band name. <%= f.submit "i call it", class: "btn call_it"%>.
        <% end %>
    <% end %>
</div>

<ul class="band_names">
    <%= render @band_names %>
</ul>
