<h1>
  <%= @band_name.name %>
  <% if current_user&.can_edit? @band_name  %>
    (<%= link_to 'Edit', [:edit, @band_name] %>)
  <% end %>
</h1>

<div>
<p>Called by <%= @band_name.owner.name %></p>
</div>


