/* line 5, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.new_band_name {
  font-size: 40px;
  padding: 20px;
}
/* line 9, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.new_band_name input.band_name {
  font-size: 40px;
  width: 40%;
  display: inline-block;
  border: none;
  border-bottom: 2px solid black;
}
/* line 11, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.new_band_name input.band_name:focus {
  outline-width: 0;
}
/* line 22, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.new_band_name .btn {
  padding: 0;
  background: none;
  border: none;
  font-size: 40px;
  text-decoration: underline;
  color: blue;
}
/* line 23, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.new_band_name .btn:hover {
  cursor: pointer;
}
/* line 26, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.new_band_name .btn:focus {
  outline-width: 0;
  color: purple;
}

/* line 39, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name {
  font-size: 30px;
}
/* line 42, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name label {
  margin-right: -10px;
}
/* line 47, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name input.string {
  font-size: 30px;
  width: 60%;
  display: inline-block;
  border: none;
  border-bottom: 2px solid black;
  padding: 0;
}
/* line 48, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name input.string:focus {
  outline-width: 0;
}
/* line 61, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name input[type=checkbox] {
  zoom: 2.0;
  margin: 2px 0 0 0;
}
/* line 66, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name div {
  margin: 20px;
}
/* line 67, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name div label {
  padding: 0 14px 0 0;
}
/* line 73, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name .transformations {
  position: relative;
  padding: 0;
  margin: -10px 0 0 164px;
}
/* line 77, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name .transformations .btn {
  font-size: 14px;
}
/* line 82, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name .btn {
  background: none;
  padding: 0;
  border: none;
  text-decoration: underline;
  color: blue;
}
/* line 84, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name .btn.submit {
  font-size: 30px;
}
/* line 88, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name .btn:hover {
  cursor: pointer;
}
/* line 92, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
form.edit_band_name .btn:focus {
  outline-width: 0;
}

/* line 104, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
ul.band_names {
  font-size: 25px;
}
/* line 106, /Users/norton/src/dwyer/app/assets/stylesheets/band_names.css.scss */
ul.band_names li.private, ul.band_names li.private a {
  color: #CCC;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */
/* line 22, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
* {
  font-family: "Times New Roman";
  margin: 0;
}

/* line 27, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
html, body {
  height: 100%;
}

/* line 34, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
a:hover {
  text-decoration: underline;
}
/* line 37, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
a:visited {
  color: #0000EE;
}

/* line 43, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
header .breadcrumbs {
  margin-left: 20px;
}

/* line 48, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
.facebook {
  padding: 0;
  margin: 0;
  position: absolute;
  left: 6px;
  bottom: 0;
}
/* line 49, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
.facebook .admin img {
  border: 3px solid red;
  padding: 0;
}

/* line 62, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
.dwyer {
  padding: 0;
  margin: 0;
  position: absolute;
  right: 6px;
  bottom: 0;
}

/* line 72, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
.pagination {
  width: auto;
  text-align: left;
  margin: 20px 18px;
  font-size: 20px;
}

/* line 79, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
article {
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

/* line 85, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
footer {
  /* padding-top: 10px; */
  position: absolute;
  margin-left: 41%;
  /* height: 4em; */
  bottom: 0px;
  margin-bottom: 10px;
}
/* line 86, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
footer a {
  text-decoration: none;
  color: black;
}

/* line 99, /Users/norton/src/dwyer/app/assets/stylesheets/application.css.scss */
div.error {
  margin-left: 20px;
  color: darkred;
}
