// Place all the styles related to the band_names controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    font-family: "Times New Roman";
}

form {
    font-size: 40px;
    padding: 20px;
}

ul.band_names {
    font-size: 25px;
}

.band_name {

    &:focus {
        outline-width: 0;
    }

    font-size: 40px;
    width: 40%;
    display: inline-block;
    border:none;
    border-bottom: 2px solid black;
}

.button {
    &:hover {
        cursor: pointer;
    }
    &:focus {
        outline-width: 0;
        color: purple;
    }
    background: none;
    border: none;
    font-size: 40px;
    text-decoration: underline;
    color: blue;
}

footer {

    a {
        text-decoration: none;
        color: black;
    }

    text-align: center;
    position: absolute;
    font-size: 18px;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
    left: 0;
}

